
@plugin "@iconify/tailwind4" {
  prefix: "iconify";
  scale: 1.2;
};
@import 'tailwindcss' source('../');

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

